<div class="addBookForm">
  <h2>Update Book</h2>
  <h3 class="success-message" *ngIf="UpdateBookMessage != undefined">
    {{ UpdateBookMessage }}
  </h3>
  <form
    #addBookForm="ngForm"
    (ngSubmit)="updateBook(addBookForm.value)"
    class="common-form"
  >
    <input
      class="form-input"
      name="bookName"
      type="text"
      required
      placeholder="Enter Book Name"
      #bookName="ngModel"
      ngModel="{{ currentBookData?.bookName }}"
    />
    <p class="error-message" *ngIf="bookName.invalid && bookName.touched">
      {{ FieldRequiredMessage }}
    </p>
    <input
      class="form-input"
      min="0.00"
      name="price"
      type="number"
      placeholder="Enter Book Price &#8377;200"
      required
      #price="ngModel"
      ngModel="{{ currentBookData?.price }}"
    />
    <p class="error-message" *ngIf="price.invalid && price.touched">
      {{ FieldRequiredMessage }}
    </p>

    <!-- <input
      class="form-input"
      type="text"
      name="authorName"
      required
      placeholder="Enter Author Name"
      #authorName="ngModel"
      ngModel="{{ currentBookData?.authorNames }}"
    />
    <p class="error-message" *ngIf="authorName.invalid && authorName.touched">
      {{ FieldRequiredMessage }}
    </p> -->

    <kendo-multiselect
      [checkboxes]="true"
      (removeTag)="removeFromSelectedArray(authorNames.value, 1)"
      [required]="true"
      [data]="authors"
      [(ngModel)]="selectedAuthors"
      class="form-input"
      placeholder="Select Author Name/Names"
      #authorNames="ngModel"
      name="authorNames"
    />
    <p class="error-message" *ngIf="authorNames.touched && authorNames.invalid">
      {{ FieldRequiredMessage }}
    </p>

    <!-- <input
      class="form-input"
      type="text"
      name="genreName"
      required
      placeholder="Enter Genre Name"
      #genreName="ngModel"
      ngModel="{{ currentBookData.genreNames }}"
    />
    <p class="error-message" *ngIf="genreName.invalid && genreName.touched">
      {{ FieldRequiredMessage }}
    </p> -->

    <kendo-multiselect
      [checkboxes]="true"
      (removeTag)="removeFromSelectedArray(genreNames.value, 2)"
      [required]="true"
      [data]="genres"
      [(ngModel)]="selectedGenres"
      class="form-input"
      required
      placeholder="Select Genre Name/Names"
      #genreNames="ngModel"
      name="genreNames"
    />
    <p class="error-message" *ngIf="genreNames.touched && genreNames.invalid">
      {{ FieldRequiredMessage }}
    </p>

    <!-- 
    <input
      class="form-input"
      type="text"
      name="publisherName"
      required
      placeholder="Enter Publisher Name"
      required
      #pubName="ngModel"
      ngModel="{{ currentBookData.publisherNames }}"
    />
    <p class="error-message" *ngIf="pubName.invalid && pubName.touched">
      {{ FieldRequiredMessage }}
    </p> -->

    <kendo-multiselect
      [checkboxes]="true"
      (removeTag)="removeFromSelectedArray(publisherNames.value, 3)"
      [required]="true"
      [data]="publishers"
      class="form-input"
      required
      placeholder="Select Publisher Name/Names"
      [(ngModel)]="selectedPublishers"
      #publisherNames="ngModel"
      name="publisherNames"
    />
    <p
      class="error-message"
      *ngIf="publisherNames.touched && publisherNames.invalid"
    >
      {{ FieldRequiredMessage }}
    </p>

    <div class="buttonHolder">
      <button
        class="btn btn-success form-button"
        [disabled]="addBookForm.invalid || IsBookUpdated"
      >
        Submit
      </button>
      <button
        class="btn btn-warning form-button"
        (click)="cancelUpdateBookForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
